<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="063b104b-4f6a-4336-827f-9f4ddb192daf" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c8054f83-df62-4f58-9820-e26d140092bc">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a77f8765-4604-4e23-90c3-93f8b5efd84f" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="d3977938-bfbe-443b-8f53-1f1ad37e300e" SortOrder="1">contactPage</ContentType>
    <ContentType Key="bc6a1540-e59b-4eeb-a8de-68f02cd66016" SortOrder="2">servicePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9091d8f4-8527-4022-b594-7f43b344c63e</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>b722dc54-df09-4486-a4fe-17a722225fa5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3efb1c7e-a1b8-4efc-85c7-bba39b57943b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>