<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac9abcc8-41bc-4024-8dbe-e17526a50891" Alias="Brand Section - Brand List" Level="1">
  <Info>
    <Name>Brand Section - Brand List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
      "label": "{ \u0022umb://media/\u0022 \u002B image[0].mediaKey | ncNodeName }"
    }
  ]
}]]></Config>
</DataType>