<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e8f5805-8382-42f9-854b-efe034c5fd45" Alias="Callback Settings - Callback Request Option - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Callback Settings - Callback Request Option - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>