<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f6cf58c-1f4a-4d3e-8439-c6c0a726fa2b" Alias="Callback Settings - Show Form Title" Level="1">
  <Info>
    <Name>Callback Settings - Show Form Title</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>