<?xml version="1.0" encoding="utf-8"?>
<DataType Key="adbdedb2-3850-4fd8-956a-fba532d1252a" Alias="Main Settings - Callback Request Option - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Main Settings - Callback Request Option - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>