<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b722dc54-df09-4486-a4fe-17a722225fa5" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "536b75c2-545a-415b-ade8-659b45720146"
    },
    {
      "contentElementTypeKey": "602a9f38-36f6-4278-acc2-7de406b153fc",
      "settingsElementTypeKey": "aeb167db-78bc-4a1d-9056-6150b32ec03e"
    },
    {
      "contentElementTypeKey": "a0d3536d-4eb3-4cdc-af73-25eed063058a",
      "label": ""
    },
    {
      "contentElementTypeKey": "a6fb0d2b-b069-4a79-919b-9798d754d5f1"
    },
    {
      "contentElementTypeKey": "3b9b7cc7-8e6e-49d9-b695-c9d0e8c1163d"
    },
    {
      "contentElementTypeKey": "1ced47fb-7399-472c-8e2a-d52281816c0d"
    },
    {
      "contentElementTypeKey": "8533a1c8-1bdf-47fb-a1c0-d4e2d162fe13"
    },
    {
      "contentElementTypeKey": "af0d1d46-0be2-4c32-bf54-72f6b9f89e8c"
    },
    {
      "contentElementTypeKey": "7ea913cc-8634-455d-98ee-01ecf8edf41f",
      "settingsElementTypeKey": "bfb4f95b-cf1a-4027-a031-a47c3797306c"
    },
    {
      "contentElementTypeKey": "70d70da5-c575-4a6c-9b18-7a03b64e6662"
    },
    {
      "contentElementTypeKey": "cf2644bf-c815-45d7-9eb7-8c1d17f4085b"
    },
    {
      "contentElementTypeKey": "02f92dfc-e238-4d63-8889-29d360bc8735"
    }
  ]
}]]></Config>
</DataType>