<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2fe2dc1-fd32-489e-b3b0-618a41d6866f" Alias="Recent Section - Recent List" Level="1">
  <Info>
    <Name>Recent Section - Recent List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b7eda9c7-9eed-47fc-9785-d282406f13af",
      "label": "{umbValue:recentBoxTitle}"
    }
  ]
}]]></Config>
</DataType>