<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28a12543-a286-4808-9782-d7a4a072a498" Alias="Service Detail - Widgets - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Widgets - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "efa08900-b823-4028-b2b5-d5acc9239307"
    },
    {
      "contentElementTypeKey": "3110b28c-c1f9-4969-9359-3c499ef711a4"
    }
  ]
}]]></Config>
</DataType>