<?xml version="1.0" encoding="utf-8"?>
<DataType Key="64f39e7e-f0b0-476c-9d9b-859db8d02428" Alias="Service Settings - Show Service Label - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Show Service Label - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>