<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a5b3180-b927-49ed-9f47-f920ff7d841e" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "47b02f2f-3ec5-46aa-b54e-5327d8269045",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>