<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd0721f6-c12f-4412-aef2-63cbbf3c757a" Alias="Success Section - Success Box List" Level="1">
  <Info>
    <Name>Success Section - Success Box List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "49bd0d6f-374f-4f1a-8cae-a359f7829fe7",
      "label": "{umbValue: successBoxTitle} ",
      "editorSize": ""
    }
  ]
}]]></Config>
</DataType>