<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cab5c8dd-d6d5-42fc-b4e8-0d65688030d3" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "21bf4942-0cfa-42d7-a623-285ace8c81cc",
      "label": "{umbValue:teamMemberName}"
    }
  ]
}]]></Config>
</DataType>