@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

    var siteName = siteSettings?.SiteName ?? "Onatrix";
    var title = Model.Level == 1 ? $"{siteName}" : $"{siteName} | {Model.Name}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
	<partial name="Partials/Layout/_Topbar.cshtml" />
    <partial name="Partials/Layout/_Header.cshtml" />
    @RenderBody()

</body>
</html>