@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
	
}

<partial name="Partials/Layout/_PageHeader.cshtml" model="(IPageHeader)Model" />

<section id="service-detail">
	<div class="container">
		<div class="grid">
			<aside class="aside-content">
				@Html.GetBlockListHtml(Model.Widgets)
			</aside>

			<div class="divider"></div>

			<div class="rte info-content">
				@Html.Raw(Model.ServiceDetailBody)
			</div>

		</div>
	</div>
</section>