<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9e370ee-1e5b-47de-acc3-20a00db1d24a" Alias="2025-11-03 16-56 - ding" Level="2">
  <Info>
    <Parent Key="a22ed942-3da0-4ec3-8fab-e76d9f64604c">Form Submissions</Parent>
    <Path>/FormSubmissions/ding</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-03T16:56:41</CreateDate>
    <NodeName Default="2025-11-03 16-56 - ding" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[dong@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[ding]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Odd sock]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[1231231]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>