<?xml version="1.0" encoding="utf-8"?>
<Content Key="43bd7349-0164-4b61-a40f-c22e62beffca" Alias="2025-11-06 11-10 - Kikkeli" Level="2">
  <Info>
    <Parent Key="a22ed942-3da0-4ec3-8fab-e76d9f64604c">Form Submissions</Parent>
    <Path>/FormSubmissions/Kikkeli</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T11:10:26</CreateDate>
    <NodeName Default="2025-11-06 11-10 - Kikkeli" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[tapioninetytwo@live.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Kikkeli]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Evader]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[435113256]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>