<?xml version="1.0" encoding="utf-8"?>
<Content Key="78650d8f-47a5-494e-8eb9-b70ab04efdbc" Alias="2025-11-06 11-19 - nudå" Level="2">
  <Info>
    <Parent Key="a22ed942-3da0-4ec3-8fab-e76d9f64604c">Form Submissions</Parent>
    <Path>/FormSubmissions/nudaa</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T11:19:25</CreateDate>
    <NodeName Default="2025-11-06 11-19 - nudå" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[tapioninetytwo@live.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[nudå]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Giggling Water]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12125432]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>