<?xml version="1.0" encoding="utf-8"?>
<Content Key="321438b4-856c-4efe-97c9-2b1da3f4a0bd" Alias="2025-11-06 11-27 - kikkeli" Level="2">
  <Info>
    <Parent Key="a22ed942-3da0-4ec3-8fab-e76d9f64604c">Form Submissions</Parent>
    <Path>/FormSubmissions/kikkeli</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-06T11:27:36</CreateDate>
    <NodeName Default="2025-11-06 11-27 - kikkeli" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[tapioninetytwo@live.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[kikkeli]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business Planner]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[12312455]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>