<?xml version="1.0" encoding="utf-8"?>
<Content Key="254d4752-bec5-49f8-9dd1-5c3c929f6580" Alias="2025-11-04 10-03 - wadwad" Level="2">
  <Info>
    <Parent Key="a22ed942-3da0-4ec3-8fab-e76d9f64604c">Form Submissions</Parent>
    <Path>/FormSubmissions/wadwad</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-04T10:03:14</CreateDate>
    <NodeName Default="2025-11-04 10-03 - wadwad" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[janne@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[wadwad]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Odd sock]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[awdwad]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>