<?xml version="1.0" encoding="utf-8"?>
<Content Key="46249a8b-0c1f-4592-9e1d-c5fdc1006d55" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="6c3ae121-9d1c-4c9a-b809-ecc7dbfdb4c9">Service</Parent>
    <Path>/Onatrix/Service/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T16:33:09</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bf2f5e06-a96b-4d04-958a-b9385f13c4f0">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailQuote>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailQuote>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "5201c9ca-5992-4f6f-bacc-936b155dba17",
    "mediaKey": "e53b8489-dac5-4610-ba21-519419c380c7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
    <widgets>
      <Value><![CDATA[]]></Value>
    </widgets>
  </Properties>
</Content>