<?xml version="1.0" encoding="utf-8"?>
<Content Key="c69e5bc1-5909-4ebe-a05c-73772d5eafbc" Alias="Contact" Level="2">
  <Info>
    <Parent Key="7daeb84e-c798-4ab8-b017-1178337fd03a">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T16:09:44</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d1d51ed6-9c78-444b-90d4-7f83abefb0a8">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7ea913cc-8634-455d-98ee-01ecf8edf41f",
      "key": "e03a87b3-ed9e-4a97-80c1-327ae6e8d118",
      "udi": null,
      "values": [
        {
          "alias": "farewellTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "farewellImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bcd1834a-fbe2-4684-8b12-2f1a24bd52e9",
              "mediaKey": "06681374-fcc6-43a0-8165-af10168680f5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "farewellBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "549b6dfa-7a2e-4964-ade6-7099a6c7103e",
              "mediaKey": "f4a2362a-fc1b-4500-b7cc-2974a5c6cab0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "70d70da5-c575-4a6c-9b18-7a03b64e6662",
      "key": "5b5d678a-8d65-416c-9c80-07e64ff308e1",
      "udi": null,
      "values": [
        {
          "alias": "callbackLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "callbackText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/p\u003E"
          }
        },
        {
          "alias": "callbackBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5b67c1ba-2201-4e99-8dc5-c4c92bdd02bd",
              "mediaKey": "36beb1ac-25ce-4e25-a8e9-7cd78a6c24d2",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8533a1c8-1bdf-47fb-a1c0-d4e2d162fe13",
      "key": "2526ac81-f119-48c0-9e02-dc09d8ddee93",
      "udi": null,
      "values": [
        {
          "alias": "brandList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "1c95b83f-eb9e-4285-9363-ae5eab4547dc",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "54a2771c-6e34-4823-867b-e1d466fe158d",
                        "mediaKey": "3537ab72-6c2d-4a95-be72-60afdc2c16e3",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "06e30d0e-7365-4a3d-8939-5eccf941c14b",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "fdb5908f-f636-424b-9533-0b42f6f82db4",
                        "mediaKey": "19d4657c-898d-4506-ab10-706407522201",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "af01b0a3-7e5f-48a8-800b-5948071d95ce",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3380a717-f9ad-49da-b92d-dbdc75c80a57",
                        "mediaKey": "903c663b-c6a8-4833-96e7-449c4580fb76",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "075783cd-c584-460e-a338-6477a0345883",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "15a78512-782f-4d6c-a7ac-2afa53ea8610",
                        "mediaKey": "414dc1e6-6f00-4468-a32b-966d5f86ffe1",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "1c95b83f-eb9e-4285-9363-ae5eab4547dc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "06e30d0e-7365-4a3d-8939-5eccf941c14b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "af01b0a3-7e5f-48a8-800b-5948071d95ce",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "075783cd-c584-460e-a338-6477a0345883",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "1c95b83f-eb9e-4285-9363-ae5eab4547dc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "06e30d0e-7365-4a3d-8939-5eccf941c14b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "af01b0a3-7e5f-48a8-800b-5948071d95ce",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "075783cd-c584-460e-a338-6477a0345883",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "bfb4f95b-cf1a-4027-a031-a47c3797306c",
      "key": "19333d42-1c6d-4e5e-a7ba-2cd9118cee86",
      "udi": null,
      "values": [
        {
          "alias": "farewellBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "e03a87b3-ed9e-4a97-80c1-327ae6e8d118",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b5d678a-8d65-416c-9c80-07e64ff308e1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2526ac81-f119-48c0-9e02-dc09d8ddee93",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e03a87b3-ed9e-4a97-80c1-327ae6e8d118",
        "contentUdi": null,
        "settingsKey": "19333d42-1c6d-4e5e-a7ba-2cd9118cee86",
        "settingsUdi": null
      },
      {
        "contentKey": "5b5d678a-8d65-416c-9c80-07e64ff308e1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2526ac81-f119-48c0-9e02-dc09d8ddee93",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>