<?xml version="1.0" encoding="utf-8"?>
<Content Key="7daeb84e-c798-4ab8-b017-1178337fd03a" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-22T12:00:35</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c8054f83-df62-4f58-9820-e26d140092bc">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "536b75c2-545a-415b-ade8-659b45720146",
      "key": "8c589d03-5184-4593-8cb4-380b0092e0e8",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "26eda750-cfed-42ea-a7da-fc89001aa766",
              "mediaKey": "f05f7fe7-6054-4e93-8a3c-f8fe5ae3145f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022rteSm rteRegular\u0022\u003E\u003Cspan class=\u0022rteClrPrimary\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/c69e5bc159094ebea05c73772d5eafbc",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "a6fb0d2b-b069-4a79-919b-9798d754d5f1",
      "key": "c3d69439-2e2b-4812-8eef-21e2f6450188",
      "udi": null,
      "values": [
        {
          "alias": "mainLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "mainTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: left\u0022\u003EWe have 40 years experience\u003C/h2\u003E\u003Cp style=\u0022text-align: left\u0022\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "mainText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022rteMd rteLight\u0022\u003E\u003Cem\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/em\u003E\u003C/p\u003E\u003Cp\u003E\u003C/p\u003E\u003Cp class=\u0022rteXs rteRegular\u0022\u003E\u003Cspan class=\u0022rteClrBody\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022rteXs rteRegular\u0022\u003E\u003Cimg data-udi=\u0022umb://media/e2d1672e982b4e249b2d9d51425b1bee\u0022 src=\u0022\u0022 alt=\u0022sign.svg\u0022 width=\u0022161\u0022 height=\u002276\u0022\u003E\u003C/p\u003E\u003Cp class=\u0022rteXs rteRegular\u0022\u003ETina Fox - CEO \u0026amp; Founder\u003C/p\u003E"
          }
        },
        {
          "alias": "callbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "callbackFormDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022rteClrBody\u0022\u003EType in your information so we can get back to you\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "602a9f38-36f6-4278-acc2-7de406b153fc",
      "key": "a0842c24-c7c7-40eb-853f-4ab4dc028a35",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions To Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E\u003Cp style=\u0022text-align: center\u0022\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3b9b7cc7-8e6e-49d9-b695-c9d0e8c1163d",
      "key": "1d771290-d623-4d8f-9b23-1eaba7de5630",
      "udi": null,
      "values": [
        {
          "alias": "trustedTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022rteLg rteBold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022rteClrPrimary\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022rteLg rteBold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022rteClrSecondary\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "trustedText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022rteClrBody\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "trustedImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2ecf4a50-4ca8-4ba5-9459-f52d97699dff",
              "mediaKey": "a1df138c-3a9d-4159-8378-54e2387b575d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "trustedLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read Our Story",
              "target": null,
              "udi": "umb://document/7daeb84ec7984ab8b0171178337fd03a",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "1ced47fb-7399-472c-8e2a-d52281816c0d",
      "key": "d3741485-b2b3-4ccf-88cb-33d0725c33bc",
      "udi": null,
      "values": [
        {
          "alias": "successLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Stories"
        },
        {
          "alias": "successTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022rteLg rteBold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022rteClrBodyWhite \u0022\u003ESuccess Story\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "successImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "741073f9-f948-48df-984a-da67e7776f46",
              "mediaKey": "ea854804-4bc3-4cfd-8566-65a545732bbc",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "49bd0d6f-374f-4f1a-8cae-a359f7829fe7",
                "key": "8778e300-894d-44b6-a708-82ae6ceb1c4a",
                "udi": null,
                "values": [
                  {
                    "alias": "successBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "successBoxText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "49bd0d6f-374f-4f1a-8cae-a359f7829fe7",
                "key": "38cfb908-e821-430d-9f5c-e41ff2436228",
                "udi": null,
                "values": [
                  {
                    "alias": "successBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "successBoxText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "49bd0d6f-374f-4f1a-8cae-a359f7829fe7",
                "key": "dc94158d-d2a0-4d9e-9276-9bae08fcbe11",
                "udi": null,
                "values": [
                  {
                    "alias": "successBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "successBoxText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8778e300-894d-44b6-a708-82ae6ceb1c4a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "38cfb908-e821-430d-9f5c-e41ff2436228",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dc94158d-d2a0-4d9e-9276-9bae08fcbe11",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8778e300-894d-44b6-a708-82ae6ceb1c4a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "38cfb908-e821-430d-9f5c-e41ff2436228",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dc94158d-d2a0-4d9e-9276-9bae08fcbe11",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "successBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "173c7b67-cf2a-4a32-91ef-60215f24392f",
              "mediaKey": "e02072cc-abfb-4f90-abab-29d4299daf30",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8533a1c8-1bdf-47fb-a1c0-d4e2d162fe13",
      "key": "9c10ab2f-22f9-435b-84c7-d6e8929d9d73",
      "udi": null,
      "values": [
        {
          "alias": "brandList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "44c1e70e-b8ee-4eb7-a2e5-40628eed8ae2",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "221e304b-075e-4b3f-8340-be0e12804ac8",
                        "mediaKey": "3537ab72-6c2d-4a95-be72-60afdc2c16e3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "843e98cf-a5ca-461a-9359-fd5a79b77d06",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "07426c2e-48f6-4433-80ad-73e58cff1caf",
                        "mediaKey": "19d4657c-898d-4506-ab10-706407522201",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "4144e759-9a4e-407a-8c13-d21ea3e1d26e",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2051a69f-d23e-40d0-a8a0-5f53f423a846",
                        "mediaKey": "903c663b-c6a8-4833-96e7-449c4580fb76",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "7eaa5684-5e13-4907-95a9-2dc3517427a4",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "72ba7c18-bd3d-4667-884c-7b35abbb01a2",
                        "mediaKey": "414dc1e6-6f00-4468-a32b-966d5f86ffe1",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "46bdcfce-4ede-4bea-bb96-aea0f298fcf7",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "37fd81cc-9b2c-477e-b80a-2d6ab4320f15",
                        "mediaKey": "a3ab515b-c572-4e11-8116-bfbe6b32e3ef",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "5dac3906-96c8-4f44-87da-bf8731927ff7",
                "key": "68580ca2-fe8d-4026-8ebb-fd63d19ba31c",
                "udi": null,
                "values": [
                  {
                    "alias": "brandBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1c436e0a-71a5-409a-ba5e-8d936b2f24dc",
                        "mediaKey": "c04bca9e-f88b-436b-9571-7b4dc5eb1bc0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "44c1e70e-b8ee-4eb7-a2e5-40628eed8ae2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "843e98cf-a5ca-461a-9359-fd5a79b77d06",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4144e759-9a4e-407a-8c13-d21ea3e1d26e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7eaa5684-5e13-4907-95a9-2dc3517427a4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "46bdcfce-4ede-4bea-bb96-aea0f298fcf7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "68580ca2-fe8d-4026-8ebb-fd63d19ba31c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "44c1e70e-b8ee-4eb7-a2e5-40628eed8ae2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "843e98cf-a5ca-461a-9359-fd5a79b77d06",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4144e759-9a4e-407a-8c13-d21ea3e1d26e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7eaa5684-5e13-4907-95a9-2dc3517427a4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "46bdcfce-4ede-4bea-bb96-aea0f298fcf7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "68580ca2-fe8d-4026-8ebb-fd63d19ba31c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "af0d1d46-0be2-4c32-bf54-72f6b9f89e8c",
      "key": "92aa7f0c-84da-463e-bfb8-2a48baa11cb7",
      "udi": null,
      "values": [
        {
          "alias": "recentLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Projects"
        },
        {
          "alias": "recentTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recent Projects"
        },
        {
          "alias": "recentList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "b7eda9c7-9eed-47fc-9785-d282406f13af",
                "key": "b941ea57-8751-4be0-81c5-df52f671f350",
                "udi": null,
                "values": [
                  {
                    "alias": "recentBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Annual Report for Juva Inc."
                  },
                  {
                    "alias": "recentBoxGenre",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Services"
                  },
                  {
                    "alias": "recentBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e7b8fc01-2d5b-41e7-b461-d2e384e86dd6",
                        "mediaKey": "fc1d3096-c57b-4415-807e-5634d6fbc2a2",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b7eda9c7-9eed-47fc-9785-d282406f13af",
                "key": "e0d9da09-559b-4c18-a8f1-fa3d086b5c5d",
                "udi": null,
                "values": [
                  {
                    "alias": "recentBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Insights for SP Group Inc."
                  },
                  {
                    "alias": "recentBoxGenre",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Services"
                  },
                  {
                    "alias": "recentBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "03359dbb-8951-449c-afe6-ce2895c8d5d6",
                        "mediaKey": "7657cbf5-ac0c-4ffb-b3a2-94ce88a0a656",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b7eda9c7-9eed-47fc-9785-d282406f13af",
                "key": "a68142f9-d2a6-4be5-9794-073f836b1f3e",
                "udi": null,
                "values": [
                  {
                    "alias": "recentBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisors to Irra Corp Inc."
                  },
                  {
                    "alias": "recentBoxGenre",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Services"
                  },
                  {
                    "alias": "recentBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d24b5abf-b26d-48a2-9809-55427146fa9c",
                        "mediaKey": "e2dfa612-9cf0-4735-bee0-ab8187cef4b0",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "b7eda9c7-9eed-47fc-9785-d282406f13af",
                "key": "6cf1f159-637f-45c6-a348-f373732c38c1",
                "udi": null,
                "values": [
                  {
                    "alias": "recentBoxTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Budget Planning for Buccura Inc."
                  },
                  {
                    "alias": "recentBoxGenre",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Services"
                  },
                  {
                    "alias": "recentBoxImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "64d8513d-52d1-42df-83e7-eefb1ae1b056",
                        "mediaKey": "eb5d3784-029a-4f7b-aa51-19d5ef8dbfc8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b941ea57-8751-4be0-81c5-df52f671f350",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e0d9da09-559b-4c18-a8f1-fa3d086b5c5d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a68142f9-d2a6-4be5-9794-073f836b1f3e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6cf1f159-637f-45c6-a348-f373732c38c1",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "b941ea57-8751-4be0-81c5-df52f671f350",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e0d9da09-559b-4c18-a8f1-fa3d086b5c5d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a68142f9-d2a6-4be5-9794-073f836b1f3e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6cf1f159-637f-45c6-a348-f373732c38c1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "aeb167db-78bc-4a1d-9056-6150b32ec03e",
      "key": "420d1848-848e-47c3-9413-7d27dc2dbc52",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White Dimmed",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "5c5aa933-c3b8-4d51-a799-0479d7460cdc",
      "key": "f6edb2a7-41df-426a-a881-df838d14d961",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOption",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Business Planner\nTax Evader\nCertified Googler"
        },
        {
          "alias": "callbackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8c589d03-5184-4593-8cb4-380b0092e0e8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c3d69439-2e2b-4812-8eef-21e2f6450188",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a0842c24-c7c7-40eb-853f-4ab4dc028a35",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1d771290-d623-4d8f-9b23-1eaba7de5630",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d3741485-b2b3-4ccf-88cb-33d0725c33bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9c10ab2f-22f9-435b-84c7-d6e8929d9d73",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "92aa7f0c-84da-463e-bfb8-2a48baa11cb7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8c589d03-5184-4593-8cb4-380b0092e0e8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c3d69439-2e2b-4812-8eef-21e2f6450188",
        "contentUdi": null,
        "settingsKey": "f6edb2a7-41df-426a-a881-df838d14d961",
        "settingsUdi": null
      },
      {
        "contentKey": "a0842c24-c7c7-40eb-853f-4ab4dc028a35",
        "contentUdi": null,
        "settingsKey": "420d1848-848e-47c3-9413-7d27dc2dbc52",
        "settingsUdi": null
      },
      {
        "contentKey": "1d771290-d623-4d8f-9b23-1eaba7de5630",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d3741485-b2b3-4ccf-88cb-33d0725c33bc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "92aa7f0c-84da-463e-bfb8-2a48baa11cb7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9c10ab2f-22f9-435b-84c7-d6e8929d9d73",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>