<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c3ae121-9d1c-4c9a-b809-ecc7dbfdb4c9" Alias="Service" Level="2">
  <Info>
    <Parent Key="7daeb84e-c798-4ab8-b017-1178337fd03a">Onatrix</Parent>
    <Path>/Onatrix/Service</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-22T16:10:03</CreateDate>
    <NodeName Default="Service" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9d69caa3-a524-4d4f-851c-fb961d3da11b">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "602a9f38-36f6-4278-acc2-7de406b153fc",
      "key": "8996f4c9-f186-4f11-b1c6-d46e55552a78",
      "udi": null,
      "values": [
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch2 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022rteClrPrimary\u0022\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h2\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "7ea913cc-8634-455d-98ee-01ecf8edf41f",
      "key": "e852b168-3716-45ee-b7f4-9925f978cd65",
      "udi": null,
      "values": [
        {
          "alias": "farewellTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "farewellImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "160df156-f2fc-4fed-98f3-dcdd78eb97d8",
              "mediaKey": "06681374-fcc6-43a0-8165-af10168680f5",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "farewellBackgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b6ff326b-2e08-4002-bc02-e9c83295e412",
              "mediaKey": "f4a2362a-fc1b-4500-b7cc-2974a5c6cab0",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "aeb167db-78bc-4a1d-9056-6150b32ec03e",
      "key": "3c87c759-fef3-4274-bd3f-d3b073aa3132",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "bfb4f95b-cf1a-4027-a031-a47c3797306c",
      "key": "23ed297f-a317-46ec-9d6b-0590b5217dec",
      "udi": null,
      "values": [
        {
          "alias": "farewellBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White Dimmed",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "8996f4c9-f186-4f11-b1c6-d46e55552a78",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e852b168-3716-45ee-b7f4-9925f978cd65",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8996f4c9-f186-4f11-b1c6-d46e55552a78",
        "contentUdi": null,
        "settingsKey": "3c87c759-fef3-4274-bd3f-d3b073aa3132",
        "settingsUdi": null
      },
      {
        "contentKey": "e852b168-3716-45ee-b7f4-9925f978cd65",
        "contentUdi": null,
        "settingsKey": "23ed297f-a317-46ec-9d6b-0590b5217dec",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>