<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d96bbc9-512e-4c49-afeb-01d5d8637474" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-22T13:52:06</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "47b02f2f-3ec5-46aa-b54e-5327d8269045",
      "key": "d9efe2be-ee17-47d0-9eb6-2bd399f2b5f4",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "47b02f2f-3ec5-46aa-b54e-5327d8269045",
      "key": "54cce470-1de0-4042-b742-0286860d59af",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://x.com"
        }
      ]
    },
    {
      "contentTypeKey": "47b02f2f-3ec5-46aa-b54e-5327d8269045",
      "key": "93f6450d-4b6a-4228-8980-9e6b617cc170",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "47b02f2f-3ec5-46aa-b54e-5327d8269045",
      "key": "7f124a28-bbc9-4abc-a91f-ed13cec17784",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "YouTube"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.youtube.com"
        }
      ]
    },
    {
      "contentTypeKey": "47b02f2f-3ec5-46aa-b54e-5327d8269045",
      "key": "e1d51ce3-d26d-4525-b259-29b8cdfc9dc1",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Instagram"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://instagram.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d9efe2be-ee17-47d0-9eb6-2bd399f2b5f4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "54cce470-1de0-4042-b742-0286860d59af",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "93f6450d-4b6a-4228-8980-9e6b617cc170",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7f124a28-bbc9-4abc-a91f-ed13cec17784",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e1d51ce3-d26d-4525-b259-29b8cdfc9dc1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d9efe2be-ee17-47d0-9eb6-2bd399f2b5f4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "54cce470-1de0-4042-b742-0286860d59af",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "93f6450d-4b6a-4228-8980-9e6b617cc170",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7f124a28-bbc9-4abc-a91f-ed13cec17784",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e1d51ce3-d26d-4525-b259-29b8cdfc9dc1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteCreator>
      <Value><![CDATA[Themesflat]]></Value>
    </siteCreator>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "cb4f83d2-80e8-4c8a-863e-b49de17d8ffe",
    "mediaKey": "29b7ff76-285f-4b31-bf0f-d192489441f4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>