<?xml version="1.0" encoding="utf-8"?>
<Media Key="22130e9c-ed64-4c01-a679-149a49824a51" Alias="bg_img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bg_imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T11:58:58</CreateDate>
    <NodeName Default="bg_img.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n0zldqd5/bg_img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>