<?xml version="1.0" encoding="utf-8"?>
<Media Key="004ae8d8-7289-482f-8dc4-0e4e34b543cf" Alias="bg_img.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bg_imgsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:04:58</CreateDate>
    <NodeName Default="bg_img.svg (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjkpryus/bg_img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>