<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4a2362a-fc1b-4500-b7cc-2974a5c6cab0" Alias="bigguy-bg.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/bigguyBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:05:10</CreateDate>
    <NodeName Default="bigguy-bg.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1cfbafqa/bigguy-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>