<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4a2362a-fc1b-4500-b7cc-2974a5c6cab0" Alias="bigguy-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bigguyBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:05:10</CreateDate>
    <NodeName Default="bigguy-bg.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1cfbafqa/bigguy-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>