<?xml version="1.0" encoding="utf-8"?>
<Media Key="903c663b-c6a8-4833-96e7-449c4580fb76" Alias="brand_3.svg" Level="2">
  <Info>
    <Parent Key="48c47420-1103-4098-a72b-bc8cd257d380">Brands</Parent>
    <Path>/Brands/brand_3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:38:21</CreateDate>
    <NodeName Default="brand_3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zhnj22vt/brand_3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>