<?xml version="1.0" encoding="utf-8"?>
<Media Key="19d4657c-898d-4506-ab10-706407522201" Alias="brand_2.svg" Level="2">
  <Info>
    <Parent Key="48c47420-1103-4098-a72b-bc8cd257d380">Brands</Parent>
    <Path>/Brands/brand_2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:38:21</CreateDate>
    <NodeName Default="brand_2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r1mhn42w/brand_2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>