<?xml version="1.0" encoding="utf-8"?>
<Media Key="48c47420-1103-4098-a72b-bc8cd257d380" Alias="Brands" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brands</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-25T14:38:13</CreateDate>
    <NodeName Default="Brands" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>