<?xml version="1.0" encoding="utf-8"?>
<Media Key="3537ab72-6c2d-4a95-be72-60afdc2c16e3" Alias="brand_1.svg" Level="2">
  <Info>
    <Parent Key="48c47420-1103-4098-a72b-bc8cd257d380">Brands</Parent>
    <Path>/Brands/brand_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:38:21</CreateDate>
    <NodeName Default="brand_1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qaljlvzw/brand_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>