<?xml version="1.0" encoding="utf-8"?>
<Media Key="414dc1e6-6f00-4468-a32b-966d5f86ffe1" Alias="brand_4.svg" Level="2">
  <Info>
    <Parent Key="48c47420-1103-4098-a72b-bc8cd257d380">Brands</Parent>
    <Path>/Brands/brand_4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:38:21</CreateDate>
    <NodeName Default="brand_4.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cr4o5iy1/brand_4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>