<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3ab515b-c572-4e11-8116-bfbe6b32e3ef" Alias="brand_5.svg" Level="2">
  <Info>
    <Parent Key="48c47420-1103-4098-a72b-bc8cd257d380">Brands</Parent>
    <Path>/Brands/brand_5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:38:21</CreateDate>
    <NodeName Default="brand_5.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vhwasqlj/brand_5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>