<?xml version="1.0" encoding="utf-8"?>
<Media Key="c04bca9e-f88b-436b-9571-7b4dc5eb1bc0" Alias="brand_6.svg" Level="2">
  <Info>
    <Parent Key="48c47420-1103-4098-a72b-bc8cd257d380">Brands</Parent>
    <Path>/Brands/brand_6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:38:21</CreateDate>
    <NodeName Default="brand_6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nr1psiuq/brand_6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>