<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1df138c-3a9d-4159-8378-54e2387b575d" Alias="choose_us.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/choose_ussvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T12:10:29</CreateDate>
    <NodeName Default="choose_us.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p0xh0q2g/choose_us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>