<?xml version="1.0" encoding="utf-8"?>
<Media Key="e02072cc-abfb-4f90-abab-29d4299daf30" Alias="Dot map.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T17:46:01</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h1hjeaxa/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>