<?xml version="1.0" encoding="utf-8"?>
<Media Key="e02072cc-abfb-4f90-abab-29d4299daf30" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T17:46:01</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h1hjeaxa/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>