<?xml version="1.0" encoding="utf-8"?>
<Media Key="12952aec-6b76-4e0b-ba79-84456a05f34d" Alias="employee_6.svg" Level="2">
  <Info>
    <Parent Key="e514dda2-6d81-42c1-9b7b-e6851b870e45">Members</Parent>
    <Path>/Members/employee_6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T19:18:17</CreateDate>
    <NodeName Default="employee_6.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d0ldp2dn/employee_6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>