<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d5dff4d-7446-4821-b760-50f4331250cd" Alias="employee_7.svg" Level="2">
  <Info>
    <Parent Key="e514dda2-6d81-42c1-9b7b-e6851b870e45">Members</Parent>
    <Path>/Members/employee_7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T19:18:17</CreateDate>
    <NodeName Default="employee_7.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x3bp5d03/employee_7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>