<?xml version="1.0" encoding="utf-8"?>
<Media Key="afb6ba49-1aff-431b-92f5-46b47de23b20" Alias="employee_8.svg" Level="2">
  <Info>
    <Parent Key="e514dda2-6d81-42c1-9b7b-e6851b870e45">Members</Parent>
    <Path>/Members/employee_8svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T19:18:17</CreateDate>
    <NodeName Default="employee_8.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xmdbitpe/employee_8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>