<?xml version="1.0" encoding="utf-8"?>
<Media Key="06681374-fcc6-43a0-8165-af10168680f5" Alias="employee_bigguy.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/employee_bigguysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-27T11:06:31</CreateDate>
    <NodeName Default="employee_bigguy.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q0xmvzg3/employee_bigguy.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>