<?xml version="1.0" encoding="utf-8"?>
<Media Key="f05f7fe7-6054-4e93-8a3c-f8fe5ae3145f" Alias="header_img.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/header_imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T11:59:29</CreateDate>
    <NodeName Default="header_img.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxbp0esp/header_img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>