<?xml version="1.0" encoding="utf-8"?>
<Media Key="f05f7fe7-6054-4e93-8a3c-f8fe5ae3145f" Alias="header_img.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/header_imgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T11:59:29</CreateDate>
    <NodeName Default="header_img.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxbp0esp/header_img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>