<?xml version="1.0" encoding="utf-8"?>
<Media Key="e514dda2-6d81-42c1-9b7b-e6851b870e45" Alias="Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Members</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T19:17:57</CreateDate>
    <NodeName Default="Members" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>