<?xml version="1.0" encoding="utf-8"?>
<Media Key="29b7ff76-285f-4b31-bf0f-d192489441f4" Alias="onatrix_brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onatrix_brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T13:50:50</CreateDate>
    <NodeName Default="onatrix_brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qrbbls0e/onatrix_brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>