<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45" Alias="Onatrix Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-31T14:08:04</CreateDate>
    <NodeName Default="Onatrix Images" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>