<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2dfa612-9cf0-4735-bee0-ab8187cef4b0" Alias="project_3.svg" Level="2">
  <Info>
    <Parent Key="2e5b2ca8-88cb-47b1-b420-1bc3548ea7e2">Recent</Parent>
    <Path>/Recent/project_3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:54:43</CreateDate>
    <NodeName Default="project_3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2anh0ahl/project_3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>