<?xml version="1.0" encoding="utf-8"?>
<Media Key="84a2fc99-618e-4943-955d-1b0832bceab1" Alias="project_5.svg" Level="2">
  <Info>
    <Parent Key="2e5b2ca8-88cb-47b1-b420-1bc3548ea7e2">Recent</Parent>
    <Path>/Recent/project_5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:54:43</CreateDate>
    <NodeName Default="project_5.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nnabazuv/project_5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>