<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc1d3096-c57b-4415-807e-5634d6fbc2a2" Alias="project_1.svg" Level="2">
  <Info>
    <Parent Key="2e5b2ca8-88cb-47b1-b420-1bc3548ea7e2">Recent</Parent>
    <Path>/Recent/project_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:54:43</CreateDate>
    <NodeName Default="project_1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/msgl4hta/project_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>