<?xml version="1.0" encoding="utf-8"?>
<Media Key="4aac9bc2-4457-4eab-81f4-edeb61bd53f4" Alias="project_6.svg" Level="2">
  <Info>
    <Parent Key="2e5b2ca8-88cb-47b1-b420-1bc3548ea7e2">Recent</Parent>
    <Path>/Recent/project_6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-25T14:54:43</CreateDate>
    <NodeName Default="project_6.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gata3kcm/project_6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>