<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e5b2ca8-88cb-47b1-b420-1bc3548ea7e2" Alias="Recent" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Recent</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-25T14:54:33</CreateDate>
    <NodeName Default="Recent" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>