<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf9af9e1-8512-4e8d-82c6-f400974db910" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-23T16:30:39</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>