<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8c114ea-111f-40f9-a7e3-49920fb20c1f" Alias="services_risk.svg" Level="2">
  <Info>
    <Parent Key="bf9af9e1-8512-4e8d-82c6-f400974db910">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services_risksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:30:59</CreateDate>
    <NodeName Default="services_risk.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dcuhggqe/services_risk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>