<?xml version="1.0" encoding="utf-8"?>
<Media Key="e53b8489-dac5-4610-ba21-519419c380c7" Alias="services_assure.svg" Level="2">
  <Info>
    <Parent Key="bf9af9e1-8512-4e8d-82c6-f400974db910">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services_assuresvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:30:59</CreateDate>
    <NodeName Default="services_assure.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pm2jsb44/services_assure.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>