<?xml version="1.0" encoding="utf-8"?>
<Media Key="461304b7-50b9-4493-a73e-d96d07b830c5" Alias="services_statistic.svg" Level="2">
  <Info>
    <Parent Key="bf9af9e1-8512-4e8d-82c6-f400974db910">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services_statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:31:00</CreateDate>
    <NodeName Default="services_statistic.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iw2ldjfc/services_statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>