<?xml version="1.0" encoding="utf-8"?>
<Media Key="8057f5f0-723c-47d9-a6b4-706c278a66b2" Alias="services_bonds.svg" Level="2">
  <Info>
    <Parent Key="bf9af9e1-8512-4e8d-82c6-f400974db910">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services_bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:30:59</CreateDate>
    <NodeName Default="services_bonds.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ajepkyrh/services_bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>