<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0cca8bd-da7f-4b0e-8b83-330252d7c434" Alias="services_finance.svg" Level="2">
  <Info>
    <Parent Key="bf9af9e1-8512-4e8d-82c6-f400974db910">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services_financesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:30:59</CreateDate>
    <NodeName Default="services_finance.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j2kh2qte/services_finance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>