<?xml version="1.0" encoding="utf-8"?>
<Media Key="180ab3b7-1ca9-4842-877a-e53b02a526cc" Alias="services_tax.svg" Level="2">
  <Info>
    <Parent Key="bf9af9e1-8512-4e8d-82c6-f400974db910">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/services_taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T16:31:00</CreateDate>
    <NodeName Default="services_tax.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iuhkr4vs/services_tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>