<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2d1672e-982b-4e24-9b2d-9d51425b1bee" Alias="sign.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/signsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:45:13</CreateDate>
    <NodeName Default="sign.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1tnhgabq/sign.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>