<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2d1672e-982b-4e24-9b2d-9d51425b1bee" Alias="sign.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/signsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T11:45:13</CreateDate>
    <NodeName Default="sign.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1tnhgabq/sign.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>