<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea854804-4bc3-4cfd-8566-65a545732bbc" Alias="succes_story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/succes_storysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T17:23:06</CreateDate>
    <NodeName Default="succes_story.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/410docgy/succes_story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>