<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea854804-4bc3-4cfd-8566-65a545732bbc" Alias="succes_story.svg" Level="2">
  <Info>
    <Parent Key="e4e4d954-ca7d-4a13-83e6-a63e92cd4b45">Onatrix Images</Parent>
    <Path>/OnatrixImages/succes_storysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-24T17:23:06</CreateDate>
    <NodeName Default="succes_story.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/410docgy/succes_story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>